@model EsportProject.Models.FrontRankModel

<div class="col-md-3" id="frontranktable">
    
        <table id="fronttable" class="table-responsive" >
            <tr>
                <th>@Model.TournamentName.ToString()</th>
            </tr>
            <tr>
                <th>Team:</th>
                <th id="matchheader">Matches:</th>
                <th id="pointsheader">Points:</th>
            </tr>

            
                @for (int i = 0; i < 5; i++)
                {
                    <tr>
                        <td>@(i+1): @Html.DisplayFor(modelItem => Model.Teams[i].TeamName)</td>
                        <td>@Html.DisplayFor(modelitem => Model.Teams[i].Matches)</td>
                        <td>@Html.DisplayFor(modelitem => Model.Teams[i].Points)</td>

                    </tr>
                }
                          
            @*<tr>
                <td>2: Hold 2</td>
                <td> 10 </td>
                <td> 10 </td>
            </tr>
            <tr>
                <td>3: Hold 3</td>
                <td> 10 </td>
                <td> 10 </td>
            </tr>
            <tr>
                <td>4: Hold 4</td>
                <td> 10 </td>
                <td> 10 </td>
            </tr>
            <tr>
                <td>5: Hold 5</td>
                <td> 10 </td>
                <td> 10 </td>
            </tr>*@
        </table>
        <button>Watch all</button>
    
</div>

@{
}
