@model EsportProject.Models.FrontRankModel

<div class="col-md-3" id="frontranktable">
    
        <table id="fronttable" class="table-responsive" >
            <tr>
                <th>@Model.TournamentName.ToString()</th>
            </tr>
            <tr>
                <th>Team:</th>
                <th>Matches:</th>
                <th>Points:</th>
            </tr>
              @for (int i = 0; i < 5; i++)
                {
                    <tr>
                        <td>@(i+1): @Html.DisplayFor(modelItem => Model.Teams[i].TeamName)</td>
                        <td>@Html.DisplayFor(modelitem => Model.Teams[i].Matches)</td>
                        <td>@Html.DisplayFor(modelitem => Model.Teams[i].Points)</td>

                    </tr>
                }

        </table>
    @Html.ActionLink("Watch All", "Tournaments", "Home", htmlAttributes: new { @class = "btn btn-default" })  
    @*<button>Watch all</button>*@
    
</div>