@model EsportProject.Models.UserManagement
@inject Microsoft.AspNetCore.Identity.UserManager<EsportProject.Models.ApplicationUser> userManager

<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <select asp-for="NewRole">

                        @foreach (var allrole in Model.TestRoleList)
                        {
                            if (user.Roles.Count != 0)
                            {
                                @foreach (var item in user.Roles)
                                {
                                    if (item.RoleId == allrole.id)
                                    {
                                        <option class="optionActive">@allrole.Name</option>
                                    }
                                    
                                }
                            }
                            else
                            {

                                <option class="optionDisabled">@allrole.Name</option>
                            }

                        }
                    </select>

                </td>

                <td><a asp-controller="UserManagement" asp-action="AddRole" asp-route-id="@Model">Add Role</a></td>

                <td><a asp-controller="UserManagement" asp-action="RemoveRole" asp-route-id="@user.Id">Remove Role</a></td>

            </tr>
        }

    </tbody>
</table>