@model IEnumerable<EsportProject.Models.DBmodels.News>


@{
    ViewData["Title"] = "News Page";
}

<center>
    <h1 id="newsheadline">News</h1>
</center>
@{List<EsportProject.Models.DBmodels.News> modelList = Model as List<EsportProject.Models.DBmodels.News>; }

@for (int i = 0; i < modelList.Count(); i += 2)
{
    <div class="row text-center">
        <div class="col-md-6">
            <h3>@Html.Raw(modelList[i].Title)</h3>
            <img src="@modelList[i].imgURL" alt="NewsIMG" class="img-responsive center-block" height="280" width="280">
            <br />
            <strong>@Html.Raw(modelList[i].subtitle)</strong>
            <br />
            @Html.Raw(modelList[i].Content)
            <br />
            <a asp-action="SpecificNews" asp-route-id="@modelList[i].NewsID">Se Nyhed</a> |
        </div>
        @if (i + 2 <= modelList.Count())
        {
            <div class="col-md-6">
                <h3>@Html.Raw(modelList[i + 1].Title)</h3>
                <img src="@modelList[i+1].imgURL" alt="NewsIMG" class="img-responsive center-block" height="280" width="280">
                <br />
                <strong>@Html.Raw(modelList[i + 1].subtitle)</strong>
                <br />
                @Html.Raw(modelList[i + 1].Content)      
                <br />
                <a asp-action="SpecificNews" asp-route-id="@modelList[i+1].NewsID">Se Nyhed</a> |
            </div>
        }
    </div>
    <hr />

}

<br />

<div class="row">
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
</div>