@model IEnumerable<EsportProject.Models.DBmodels.News>


@{
    ViewData["Title"] = "News Page";
}

<center>
    <h1 id="newsheadline">News</h1>
</center>
@{List<EsportProject.Models.DBmodels.News> modelList = Model as List<EsportProject.Models.DBmodels.News>; }

@for (int i = 0; i < modelList.Count(); i += 2)
            {
    <div class="row text-center">
        <div class="col-md-5">
            <h3>@Html.Raw(modelList[i].Title)</h3>
            <img src="@modelList[i].imgURL" alt="NewsIMG" style="height:114px;max-width:300px;">
            <br />
            <strong>@Html.Raw(modelList[i].subtitle)</strong>
            @Html.Raw(modelList[i].Content)
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <h3>@Html.Raw(modelList[i + 1].Title)</h3>
            <img src="@modelList[i+1].imgURL" alt="NewsIMG" style="height:114px;max-width:300px;">
            <br />
            <strong>@Html.Raw(modelList[i + 1].subtitle)</strong>
            @Html.Raw(modelList[i + 1].Content)
        </div>
    </div>
    <hr />
}

<br />

<div class="row">
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
</div>