@model EsportProject.Models.DBmodels.News

@{
    ViewData["Title"] = "Specific News";
}

<div class="container">
    <div class="row">
        <div id="specificnewsarticle" class="col-md-12">
            <div>
                <center>
                    <h1 id="specificnewstitle">@Html.DisplayFor(model => model.Title)</h1>

                    <img id="specificnewsimg" src="@Html.DisplayFor(model => model.imgURL)" alt="NewsIMG" class="img-responsive" height="280" width="280">

                </center>
            </div>
            <div>
                <h3 id="specificnewssubtitle">@Html.DisplayFor(model => model.subtitle)</h3>
                <h6 id="specificnewstime">Skrevet af Admin @Html.DisplayFor(model => model.CreateDate)</h6>
            </div>
            <div id="specificnewscontent">
                @Html.Raw(Model.Content)
                <input id="backbtn" type="button" value="Back to news" onclick="location.href='@Url.Action("News", "Home")'" />

            </div>
        </div>

    </div>

</div>


