@model EsportProject.Models.DBmodels.TeamStanding

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamStanding</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WonMatches)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WonMatches)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.drawMatches)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.drawMatches)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LostMatches)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LostMatches)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TeamStandingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
