@model IEnumerable<EsportProject.Models.DBmodels.TeamStanding>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Turnament.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team.Name)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.WonMatches)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.drawMatches)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LostMatches)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Turnament.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WonMatches)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.drawMatches)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostMatches)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamStandingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeamStandingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamStandingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
